@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
html{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
}
ul,li {
	padding: 0px;
	margin: 0px;
	list-style:none;

}
body{
	margin:0 auto;
	padding:0px;
}
header{
	background:url(../img/fondo_header.png);
	height:130px;
	width:100%;
}
#cont_header{
	width:960px;
	margin:0 auto;
	height:130px;
}
#logo{
	width:350px;
	height:130px;
	float:left;
}
#botones_arriba{
	width:610px;
	height:130px;
	float:left;
	position:relative;
}
#botonera_arriba{
	width:560px;
	height:34px;
	margin-top:40px;
	margin-left:23px;
}
.boton_ppal{
	width:102px;
	height:32px;
	background:url(../img/background_botones.png) no-repeat;
	display:inline;
	float:left;
	line-height:32px;
	text-align:end;
	color:#060;
	
}
.espaciador_btn{
	width:50px;
	height: 32px;
	display:inline;
	float:left
}
#ident_sesion{
	width:560px;
	height:40px;
	line-height:40px;
	position:absolute;
	bottom: 0;
	text-align:right;
	padding-right:50px;
	color:#060;
}
#contenedor_carrusel{
	width:100%;
	height:300px;
	background:#99cc33;
}
#carrusel{
	margin:0 auto;	
	width:960px;
	height:300px;
	background:#F00;
}
#botones{
	width:960px;
	height: 55px;
	background:url(../img/baclk_bot_desp.png);
}
.boton_menu{
	width:136px;
	height:50px;
	background:#FFF;
	float:left;
	margin-left: 1px;
	text-align:center;
	line-height:50px;
	text-decoration:none;
}
.boton_desp{
	margin-left:1px;
	margin-top:1px;
	width:136px;
	height:50px;
	background:#FFF;
	float:left;
	text-align:center;
	line-height:50px;
	text-decoration:none;

}
#botones li a{
	display:block;
	color:#326534;
	text-decoration:none;
	font-weight:bold;	
}
#botones li a:hover{
	display:block;
	color:#669966;
	text-decoration:none;
}
#botones li ul {
	display:none;
	position:absolute;
	background:#996633;
	min-width:138px;
	min-height:52px;
	margin:-1px;

}
			
#botones li:hover > ul {
	display:block;
}
			
#botones li ul li {
	position:relative;
}
			
#central{
	width:960px;
	margin:0 auto;
	/*border-left:thin #CCC solid;
	border-right:thin #CCC solid;*/
}
#contenido{
	width:960px;
	padding-top:40px;
	
	/*height:500px;
	background:#FF0;*/
}
.contenedor_noticias{
	width:754px;
	padding-top:50px;
	
}
/*inicio css contenidos*/
	/*conenido index*/
#index_contenido{
	color:#666;
	width:754px;
	margin: 0 auto;

}
#index_contenido img{
	float:left;
	display:block;
}
#index_contenido section{
	font-size:16px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	float:left;
	display:block;
	margin-left: 10px;
}


.noticia_iz{
	width:49%;
	height:130px;
	display:inline-block;
	position:relative;
}
.noticia_iz img{
	width:114px;
	height:114px;
	margin-top:8px;
	margin-right:4px;
}
.noticia_iz h1{
	text-transform:uppercase;
	letter-spacing:-1px;
	margin-top:8px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	width:332px;

}
.noticia_iz p{
	display:block;
	width:332px;
	text-align:justify;
}
.noticia_iz a{
	text-align:right;
	display:block;
	padding-right:45px;
	text-transform:uppercase;
	text-decoration:none;
	color:#090;
	position:absolute;
	bottom:8px;
	right:0px;
}


.noticia_der{
	width:49%;
	height:130px;
	display:inline-block;
	position:relative;
}
.noticia_der img{
	width:114px;
	height:114px;
	margin-top:8px;
	margin-right:4px;
}
.noticia_der h1{
	text-transform:uppercase;
	letter-spacing:-1px;
	margin-top:8px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	width:332px;

}
.noticia_der p{
	display:block;
	width:332px;
	text-align:justify;
}
.noticia_der a{
	text-align:right;
	display:block;
	padding-right:45px;
	text-transform:uppercase;
	text-decoration:none;
	color:#090;
	position:absolute;
	bottom:8px;
	right:0px;
}
#index_colaboradores{
	width:754px;
	height:235px;
	margin:0 auto;
	padding-top:20px;

}
#index_colaboradores img{
	float:left;
	display:block;
}
#index_colaboradores section{
	font-size:16px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	float:left;
	display:block;
	margin-left: 10px;
	text-transform:uppercase;

}

#carru_colaboradores{
	border-top:#bb8e51 thick solid;
	border-bottom:#bb8e51 thick solid;
	margin-top:35px;
	display:block;
	width:754px;
	height:150px;
	

}
#carru_colaboradores img{
	display:block;
	width:160px;
	height:120px;
	margin-left:22px;
	margin-top:15px;
}
/*fin index*/
/*inicio nosotros*/
/*inicio titulos paginas*/
.titulo{
	width:960px;
	height:59px;
	background:url(../img/back_todo_color.gif) repeat ;
}
.logo_pequeno{
	width:77px;
	height:59px;
	float:left;
	position:relative;
	
}
.logo_pequeno img{
	position:absolute;
	right:3px;
	top:17px;
}
.txt_titulo{
	display:inline-block;
	background: #ffffcc url(../img/fondo_titulos.png);
	float:left;
	width:883px;
	height:59px;
	font-size:18px;
	text-transform:uppercase;
	line-height:62px;
}
/*fin titulos paginas*/
#contenido_nosotros{
	width:960px;
}

#contenido_nosotros h1{
	color:#999999;
	font-size:25px;
	text-transform:uppercase;
	margin-left:40px;
	margin-top:30px;
}
#contenido_nosotros h2{
	color:#99cc33;
	font-size:12px ;
	margin-left:40px;
	margin-bottom:0px;
	text-transform:uppercase;
	font-weight:900;
	

}
#contenido_nosotros h3{
	color:#333;
	font-size:12px;
	margin-left:40px;
	padding-top:0px;
	margin-top:0px;
	margin-bottom:0px;
	
}
#contenido_nosotros h4{
	color:#999;
	font-size:11px;
	margin-left:40px;
	margin-top:0px;
	margin-bottom:0px;
}
#contenido_nosotros p{
	margin-left:40px;
	display:block;
	width:791px;
	text-align:justify;
}

#contenido_nosotros span{
	text-transform:uppercase;
	font-size:20px;
	margin-left:40px;
	color:#99cc33;
	font-weight:800;
	
	
}

#nosotros_colaboradores{
	width:754px;
	margin:0 auto;
	padding-top:20px;
	display:block;

}
#nosotros_colaboradores img{
	float:left;
	display:block;
}
#nosotros_colaboradores section{
	font-size:16px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	float:left;
	display:block;
	margin-left: 10px;
	text-transform:uppercase;

}
#nosotros_carru_colaboradores{
	border-top:#bb8e51 thick solid;
	border-bottom:#bb8e51 thick solid;
	margin-top:35px;
	margin-bottom:35px;
	display:block;
	width:754px;
	height:300px;

}
#nosotros_carru_colaboradores img{
	display:block;
	width:160px;
	height:120px;
	margin-left:22px;
	margin-top:15px;
}
/*fin nosotros*/
/*inicio filiales*/

.col_filiales{
	display:inline-block;
	width:295px;
	margin-left:20px;
}
.tt_col{
	display:block;
	width:296px;
	height:40px;
	line-height:40px;
	text-align:center;
	text-transform:uppercase;
	border-style:solid;
	border-color:#e6edcd;
}
.cont_col{
	width:296px;
	/*height:500px;*/
	background:url(../img/back_todo_color.gif) repeat ;
	margin-top:10px;
	text-align:center;
	line-height:40px;
	float:left;
}
/*fin filiales*/
/*inicio trabajos*/

.cont_labor{
	width:915px;
	height:95px;
	display:block;
	margin-left:22px;
	margin-top:5px;
	background:#EEE;	
}
.img_labor{
	width:120px;
	height:95px;
	float:left;
	
}
.img_labor img{
	width:90px;
	height:65px;
	margin:15px 15px 15px 15px;
	
	
}

.txt_labor{
	display:block;
	float:left;
	width:625px;
	height:95px;
	text-align:justify;
}
.titulo_prev_oferta{
	font-size:14px;
	font-weight:bold;	
	width:625px;
	height:30px;
	line-height:45px;
	color:#99cc33;
}
.texto_prev_oferta{
	width:610px;
	height:50px;
	padding-top:15px;
	padding-right:15px;
	text-align:justify;
}

.fecha_labor{
	float:left;
	width:170px;
	height:95px;
	line-height:95px;
	text-align:center;

}
.enumerador{
	width:960px;
	height:50px;
	line-height:50px;
	text-align:center;
	
}
/*fin trabajos*/
/*inicio oferta*/
.contenido_oferta{
	width:960px;
}
.superior_oferta{
	width:915px;
	height:145px;
	margin:0 auto;
	background:url(../img/back_todo_color.gif) repeat ;
	margin-top:30px;
	
}
#superior_oferta_imagen{
	float:left;
	width:145px;
	height:145px;
}
#superior_oferta_imagen img{
	width:100px;
	height:100px;
	margin-top:23px;
	margin-left:23px;

}

#superior_oferta_titulo{
	float:left;
	width:590px;
	height:145px;
	font-size:14px;
	color:#99cc33;
}
#superior_oferta_titulo p{
	margin-top:23px;
	font-size:18px;
	color:#99cc33;
	
}
#superior_oferta_fecha{
	float:left;
	width:180px;
	height:145px;
	font-size:12px;
	color:#999;
}
#superior_oferta_fecha p{
	line-height:145px;
	font-size:14px;
	text-align:center
}
#texto_oferta{
	width:915px;
	margin:0 auto;
	background:url(../img/back_todo_color.gif) repeat ;
}
#texto_oferta span{
	display:block;
	font-weight:bold;
	color:#000;
	margin-left:23px;
	margin-bottom:8px;
	font-size:14px;

}
#texto_oferta p{
	display:block;
	color:#999;
	margin-left:23px;
	margin-right:23px;
	margin-bottom:30px;
	text-align:justify;

}

/*fin oferta*/
/*inicio mejora cv*/
#texto_mejora_curriculum{
	width:915px;
	margin:0 auto;
	color:#999;
	text-align:justify;	
	
}
#texto_mejora_curriculum span {
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	color:#99cc33;
	font-size:16px;
	font-weight:bold;
	
}
#texto_mejora_curriculum span a {
	display:block;
	margin-top:10px;
	margin-bottom:45px;
	color:#99cc33;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	
	
}

/*fin mejora cv*/
/*inicio estatuto*/
#estatuto{
	width:720px;
	margin:0 auto;	
}
#descarga_estatuto{
	width:720px;
	height:50px;
	line-height:50px;
}
#descarga_estatuto a{
	width:285px;
	text-align:center;
	display:inline-block;
	text-decoration:none;
	font-size:16px;
	color:#99cc33;
}
#descarga_estatuto span{
	display:inline-block;
	width:150px;
	
}
/*fin estatuto*/
/*inicio universidades*/
#contenido_universidades{
	padding-top:30x;
	padding-bottom:30px;
	display:block;
	width:880px;
	height:700px;
	margin:0 auto;
}
.columna_universidad{
	width:440px;
	height:700px;
	display:inline-block;
	float:left;
}
.columna_universidad ul li{
	margin-top:25px;
	font-size:14px;
	color:#360;
	border-bottom:thick solid #C8D9BB;

}
/*fin universidades*/
/*inicio boletin*/
#contenedor_boletin{
	width:705px;
	margin:0 auto;
}
.contenedor_ediciones{
	width:705px;
	height:40px;
	margin-bottom:15px;
	display:inline-block;
}
.boletin_titulo{
	text-align:center;
	width:219px;
	height:40px;	
	margin-left:10px;
	float:left;
	border: #e6edcd medium solid;
	text-transform:uppercase;
	line-height:40px;
	font-size:15px;
}
.boletin_edicion{
	text-align:center;
	width:225px;
	height:40px;	
	margin-left:10px;
	background:#e6edcd;
	float:left;
	line-height:40px;
	text-transform:uppercase;
	color:#99cc33;
	font-weight:bolder;
}
.boletin_fecha_linkl{
	text-transform:uppercase;
	text-align:center;
	width:225px;
	height:40px;	
	margin-left:10px;
	background:#e6edcd;
	float:left;
	line-height:40px;
}

/*fin boletin*/
/*inicio seminarios y noticia*/
#contenedor_seminarios{
	height: auto;
	width:860px;
	margin:0 auto;
}
.listado_seminarios{
	display:inline-block;
	width:44%;
	margin-left:2%;
	height:260px;
	margin-top:15px;
}
.listado_seminarios span/*titulo*/{
	font-size:14px;
	color:#996633;
	margin-left:55px;
	text-transform:uppercase;
	font-weight:bold;
}
.listado_seminarios p/*fecha*/{
	margin-left:55px;
	color:#999;
}
.listado_seminarios img{
	margin-left:55px;
	width:260px;
	height:230px;
}
.fecha_seminario_noticia{
	margin:0 auto;
	margin-top:-30px;
	width:860px;
	text-align:right;
	font-size:10px;
	color:#999;
}
.contenedor_seminario{
	margin:0 auto;
	margin-top:30px;
	width:860px;
	min-height:400px;

}
.contenedor_seminario p{
	text-align:justify;
}
.contenedor_seminario img{
	float:left;
	width:400px;
	height:395px;
	padding-right:20px;
	padding-bottom:20px;
}
.contenedor_noticia{
	margin:0 auto;
	margin-top:30px;
	width:860px;
	min-height:400px;

}
.contenedor_noticia p{
	text-align:justify;
}
.contenedor_noticia img{
	float:right;
	width:400px;
	padding-left:20px;
	padding-bottom:20px;
}
.texto_abajo_seminario{
	display:block;
	margin:25px auto;
	text-align:justify;
	width:860px;
}

/*fin seminarios y moticia*/
/*inicio colegiarese*/
#contenedor_colegiarse{
	width:860px;
	margin:0 auto;
	text-align:justify;
	color:#999;
}
#contenedor_colegiarse table{
	width:485px;
	margin:0 auto;
	margin-top:30px;
}
#contenedor_colegiarse td{
	text-transform:uppercase;
	height:35px;
	line-height:30px;
	width:50%;
	color:#99cc33;
	font-weight:bold;
}
#contenedor_colegiarse input{
	width:100%
}

.has_error input
{
    border: red 1px solid;
}
.has_error label
{
    color : red;
}

#colegiarse_abajo_formulario{
	width:550px;
	margin:0 auto;
	color:#99cc33;
	font-size:12px;
	font-weight:bold;		
}
#colegiarse_abajo_formulario a{
	color:#999;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;		
}
#colegiarse_abajo_formulario table{
	width:550px;;
	text-align:right;
	margin-left:0px;
}
#colegiarse_abajo_formulario td{
	text-transform:uppercase;
	line-height:30px;
	width:inherit;
	color:#99cc33;
	font-weight:bold;
}
#colegiarse_aviso h2{
	margin-top:30px;
	color:#99cc33;
}
#colegiarse_aviso p{
	color:#999;
	margin-bottom:30px;
}


/*fin clegiarse*/
/*inicio contacto*/
#contenido_contacto{
	width:650px;
	margin:50px auto 0;
	height: auto;
	
}
#contacto_col{
	float:left;
	padding:0px;
	margin:0px;	
	width:315px;		
}
#contacto_col table td{
  height:50px;
  color:#a16c19;
  font-weight:bold;
}
#contacto_col table td a{
	display:block;
	width:43px;
	margin:0 auto;
	height:20px;
	background:url(../img/fondo_boton_contacto.png);
	text-decoration:none;
	color:#a16c19;
	line-height:18px;

	
}
#texto_abajo_contacto{
	width:870px;
	color:#999;
	margin:30px auto 30px
}
/*fin contacto*/
/*inicio buscador colegiados*/
#contenido_buscador{
	width:650px;
	margin:50px auto 0;
	height: auto;
	
}
.textos_buscador{
	text-transform:uppercase;
}
.fondo_buscadores{
	height:19px;
	width:400px;
	background:url(../img/lupa_buscador.png) right no-repeat;
}
.selector{
	height:19px;
	width:400px;
	background:#D2D2D2;
	
}
#boton_buscar{
	width:45px;
	height:22px;
	background:url(../img/boton_buscar.png);
	border:none;
	color:#a16c19;
	font-size:10px;
	
}
	
/*fin buscador coolegiados*/
/*inicio resultado buscador */
#contenido_resultados{
	width:860px;
	margin:0px auto 0;
	height: auto;
	text-align:left;
}
#barra_resultados{
	width:200px;
	float:right;
	text-align:right;
}
#contenido_resultados span{
	color:#94ba1d;
}
.lista_resultados{
	width:800px;
	height:90px;
	margin:10px auto 10px;
	display:block;
	background:#EFEEE2;
}
.fecha_inscrito{
	width:200px;
	float:right;
	line-height:90px;
	margin-right:10px;
	text-align:right;
}
.lista_resultados span{
	display:block;
	padding-top:15px;
	margin-left:15px;
	font-weight:bold;
}
.lista_resultados p{
	margin-left:15px;
}
	
/*fin resultado buscadors*/
/*fin css contenidos*/

footer{
	background:#330000 url(../img/fondo_footer.png) center no-repeat;
	width:100%;
	height:275px;	
}	
#cont_footer{
	width:960px;
	margin:0 auto;
}
#rrss{
	width:450px;
	height:235px;
	float:left;
	text-align:center;
	font-size:18px;
	color:#FFF;
}
.boton_rrss{
	margin-left: 5px;
}
#links{
	width:510px;
	height:235px;
	float:left;
}
#links ul{
	display:block;
	float:left;
	padding-top:80px;
	margin-left:45px;
	font-size:12px;
	text-decoration:none;
	
}
#links a{
	text-decoration:none;
	color:#FFF;
	
}
#ddaa{
	width:960px;
	height:40px;
	float:left;
	text-align:center;
	line-height:40px;
	font-size:9px;
	color:#FFF;
}

